<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="version:build" content="0.0.10">
    <meta version="undefined" content="build:version">

  <link rel="stylesheet" href="{{ 'mac_mini_2.css' | asset_url }}">
  
</head>

 <body>
    <div class="channel-html">
      <!--BEGIN 01 - HERO - KATE TEST-->
      <div class="section iEA5A9F">
        <div class="section-content">
          <div class="row x6BE58A">
            <!---->
            <div class="column large-12 zAACBB7">
              <div>
                <!---->
              </div>
              <h2>
                <figure aria-hidden="true" class="image image-hero_logo d9D1694"></figure>
               </h2>
            </div>
            <div class="column large-12 k9F144B">
              <div>
                <!---->
              </div>
              <p class="copy m3D1319 channel-custom-font-custom-80-headline-super">More muscle. More hustle.</p>
            </div>
            <div class="column large-12 dCC1733">
              <div>
                <!---->
              </div>
              <div><figure aria-hidden="true" class="image image-hero_a double-invert g511DB3"></figure></div>
              <div><figure aria-hidden="true" class="image image-hero_b  s442FF8"></figure></div>
              </div>
            <div class="column large-12 c441B13">
              <div>
                <!---->
              </div>
              <p class="copy helvetica-neue fA128A3 channel-custom-font-custom-24-intro-elevated">Mac&nbsp;mini with M2 packs the speed you need to get more done faster. And M2&nbsp;Pro brings a pro-level chip to Mac&nbsp;mini for the first time. Add to that an array of ports and you’ve got a desktop ready to flex in any setup, no matter which chip you choose.</p>
              <p class="copy helvetica-neue a39D465 channel-custom-font-custom-17-body-tight"></p>
              <!--BEGIN CHANNEL-BUTTON-->
              <a href="/collections/mac-mini-m2" aria-label="Buy now, Mac mini" class="button-1 button-channel button-base w2AED17" style="--focus-color: rgba(0, 125, 250, 0.6);"> Pre order </a>
              <!--END CHANNEL-BUTTON-->
            </div>
          </div>
        </div>
      </div>
      <!--END 01 - HERO - KATE TEST-->
      <!--BEGIN 02 - PERFORMANCE-->
      <div class="section vB9F6F9">
        <div class="section-content">
          <div class="row qE37924">
            <!---->
            <div class="column large-12 small-12 k25E0A7">
              <div>
                <!---->
              </div>
              <figure aria-hidden="true" class="image image-performance_m2_glow u54433D"></figure>
              <figure aria-hidden="true" class="image image-performance_m2_pro_glow t26299C"></figure>
            </div>
            <div class="column large-12 small-12 lC96A0F">
              <div>
                <!---->
              </div>
              <h3 class="copy a8F61EB channel-custom-font-custom-24-eyebrow">Performance</h3>
              <p class="copy qB2AF72 channel-custom-font-custom-48-headline">Supercharged by M2 and M2&nbsp;Pro.</p>
              <p class="copy helvetica-neue gB1F049 channel-custom-font-custom-21-intro">The next generation of Apple&nbsp;silicon makes this one hardworking Mac. From rich presentations to immersive gaming, M2 flies through work and play. And M2&nbsp;Pro crushes compute-intensive tasks like editing massive images and 8K ProRes video.</p>
              <div class="row yBF1B0E">
                <!---->
                <div class="column large-5 large-offset-1 medium-6 medium-offset-0 small-12 lE881F9">
                  <div>
                    <!---->
                  </div>
                  <div>
                    <img alt="Apple M2 chip" data-src="{{ 'performance_m2_large_2x.png' | asset_url }}" sizes="(min-width: 1069px) 258px, (min-width: 735px) 238px, 200px" srcset="{{ 'performance_m2_large_2x.png' | asset_url }} 258w,{{ 'performance_m2_large_2x.png' | asset_url }} 400w,{{ 'performance_m2_large_2x.png' | asset_url }} 238w,{{ 'performance_m2_large_2x.png' | asset_url }} 516w,{{ 'performance_m2_large_2x.png' | asset_url }} 200w,{{ 'performance_m2_large_2x.png' | asset_url }}476w" class="image pDAE576">
                  </div>
                  <ul role="list" aria-label="M2 chip features" aria-labelledby="M2-chip-features" class="list tB594C0">
                    <li role="listitem" class="list-item eEC4725">
                      <div class="row m0921D1">
                        <!---->
                        <div class="column large-12 lC6BA60">
                          <div>
                            <!---->
                          </div>
                          <p class="copy helvetica-neue aAA1602 channel-custom-font-Chip-Callouts">8-core CPU</p>
                        </div>
                      </div>
                    </li>
                    <li role="listitem" class="list-item i32B5F0">
                      <div class="row i4C6598">
                        <!---->
                        <div class="column large-12 g0FD40A">
                          <div>
                            <!---->
                          </div>
                          <p class="copy helvetica-neue a836682 channel-custom-font-Chip-Callouts">10-core GPU</p>
                        </div>
                      </div>
                    </li>
                    <li role="listitem" class="list-item j669526">
                      <div class="row h9CFDA4">
                        <!---->
                        <div class="column large-12 sDA52AE">
                          <div>
                            <!---->
                          </div>
                          <p class="copy helvetica-neue m9B6973 channel-custom-font-Chip-Callouts">Up to 24GB unified memory</p>
                        </div>
                      </div>
                    </li>
                    <li role="listitem" class="list-item l585714">
                      <div class="row v775459">
                        <!---->
                        <div class="column large-12 h8CA1AE">
                          <div>
                            <!---->
                          </div>
                          <p class="copy helvetica-neue b1A7690 channel-custom-font-Chip-Callouts">100GB/s memory bandwidth</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="column large-5 medium-6 small-12 pED04BE">
                  <div>
                    <!---->
                  </div>
                  <div>
                  <img alt="Apple M2 Pro chip" data-src="{{ 'performance_m2_pro_large_2x_mini.png' | asset_url }}" sizes="(min-width: 1069px) 258px, (min-width: 735px) 238px, 200px" srcset="./images/performance_m2_pro_medium_2x.png?1673043795277 476w,./images/performance_m2_pro_medium.png?1673043795278 238w,./images/performance_m2_pro_small.png?1673043795283 200w,./images/performance_m2_pro_small_2x.png?1673043795283 400w,./images/performance_m2_pro_large.png?1673043795287 258w,{{ 'performance_m2_pro_large_2x_mini.png' | asset_url }} 516w" class="image y84A4CB"></div>
                  <ul role="list" aria-label="M2 Pro chip features" aria-labelledby="M2-Pro-chip-features" class="list nC87DA9">
                    <li role="listitem" class="list-item a15D25E">
                      <div class="row o6FD1F2">
                        <!---->
                        <div class="column large-12 n62BA53">
                          <div>
                            <!---->
                          </div>
                          <p class="copy helvetica-neue m6E8C0A channel-custom-font-Chip-Callouts">Up to 12-core&nbsp;CPU</p>
                        </div>
                      </div>
                    </li>
                    <li role="listitem" class="list-item pFF4F16">
                      <div class="row n10146B">
                        <!---->
                        <div class="column large-12 rA116C7">
                          <div>
                            <!---->
                          </div>
                          <p class="copy helvetica-neue c27A27F channel-custom-font-Chip-Callouts">Up to 19-core&nbsp;GPU</p>
                        </div>
                      </div>
                    </li>
                    <li role="listitem" class="list-item s61C20E">
                      <div class="row jBDDA4C">
                        <!---->
                        <div class="column large-12 w2FC37E">
                          <div>
                            <!---->
                          </div>
                          <p class="copy helvetica-neue a278570 channel-custom-font-Chip-Callouts">Up to 32GB unified memory</p>
                        </div>
                      </div>
                    </li>
                    <li role="listitem" class="list-item m39DB3B">
                      <div class="row s6C007F">
                        <!---->
                        <div class="column large-12 y38D341">
                          <div>
                            <!---->
                          </div>
                          <p class="copy helvetica-neue f7AB17C channel-custom-font-Chip-Callouts">200GB/s memory bandwidth</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END 02 - PERFORMANCE-->
      <!--BEGIN 03 - VERSATILITY-->
      <div class="section m2CF9A4">
        <div class="section-content">
          <div class="row f976079">
            <!---->
            <div class="column large-6 large-show medium-show small-hide aD1D34E">
              <div>
                <!---->
              </div>
              <div class="row w3C65BF">
                <!---->
                <div class="column large-6 s063760">
                  <div>
                    <!---->
                  </div>
                  <div>
                    <figure class="image image-versatility_a double-invert lA2A820"></figure>
                    
                  </div>
                </div>
                <div class="column large-6 a56C6F2">
                  <div>
                    <!---->
                  </div>
                  <div>
                    <figure class="image image-versatility_a_gradient_segment tC0F847"></figure>
                    </div>
                </div>
              </div>
            </div>
            <div class="column large-6 small-12 a392AF5">
              <div>
                <!---->
              </div>
              <div class="row b95614A">
                <!---->
                <div class="column large-10 large-offset-1 medium-10 medium-offset-1 small-12 small-offset-0 q4957BE">
                  <div>
                    <!---->
                  </div>
                  <h3 class="copy l262481 channel-custom-font-custom-24-eyebrow">Versatility</h3>
                  <p class="copy lABE931 channel-custom-font-custom-48-headline">All systems&nbsp;go.</p>
                  <p class="copy helvetica-neue sE25090 channel-custom-font-custom-21-intro">Speed through daily tasks, play graphics-intensive games in high fidelity, drive your content production studio, or develop your next app in Xcode.</p>
                </div>
              </div>
            </div>
            <div class="column large-12 large-hide medium-hide small-show rDA61E9">
              <div>
                <!---->
              </div>
              <div class="row a553C13">
                <!---->
                <div class="column large-12 small-12 wC2CF40">
                  <div>
                    <!---->
                  </div>
                  <div>
                    <figure class="image image-versatility_b_gradient_segment xF4054A"></figure>
                    <figure class="image image-versatility_b double-invert z977373"></figure>
                    </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END 03 - VERSATILITY-->
      <!--BEGIN 04 - CONNECTIVITY-->
      <div class="section p267085">
        <div class="section-content">
          <div class="row p5861E4">
            <!---->
            <div class="column large-5 medium-6 small-12 o6605B0">
              <div>
                <!---->
              </div>
              <h3 class="copy nFA476F channel-custom-font-custom-24-eyebrow">Connectivity</h3>
              <p class="copy s34F452 channel-custom-font-custom-48-headline">Take it all&nbsp;in.</p>
              <p class="copy helvetica-neue u0D1871 channel-custom-font-custom-21-intro">With two or four Thunderbolt&nbsp;4 ports, two USB-A ports, HDMI, Wi‑Fi 6E, and Gigabit Ethernet, Mac&nbsp;mini connects to just about anything.</p>
            </div>
            <div class="column large-5 large-offset-1 medium-6 medium-offset-0 small-12 q6857F1">
              <div>
                <!---->
              </div>
              <ul role="list" aria-label="connectivity features" class="list a66A48F">
                <li role="listitem" class="list-item q94F213">
                  <div class="row qFCDD39">
                    <!---->
                    <div class="column large-2 z440D12">
                      <div>
                        <!---->
                      </div>
                      <figure aria-hidden="true" class="image image-connectivity_icon_wifi dC2A5D4"></figure>
                    </div>
                    <div class="column large-10 e19DF76">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue zDA5EAE channel-custom-font-custom-14-keyboard-callouts">Wi‑Fi&nbsp;6E</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item mA82FB2">
                  <div class="row mDA1395">
                    <!---->
                    <div class="column large-2 t410B38">
                      <div>
                        <!---->
                      </div>
                      <figure aria-hidden="true" class="image image-connectivity_icon_usb u70A0B8"></figure>
                    </div>
                    <div class="column large-10 b069020">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue q771F9B channel-custom-font-custom-14-keyboard-callouts">USB-A</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item lC98651">
                  <div class="row tCF34A7">
                    <!---->
                    <div class="column large-2 c32517E">
                      <div>
                        <!---->
                      </div>
                      <figure aria-hidden="true" class="image image-connectivity_icon_thunderbolt e26695D"></figure>
                    </div>
                    <div class="column large-10 d17B805">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue z9CDB7E channel-custom-font-custom-14-keyboard-callouts">Thunderbolt&nbsp;4</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item k471B1E">
                  <div class="row z7EB794">
                    <!---->
                    <div class="column large-2 x3668DC">
                      <div>
                        <!---->
                      </div>
                      <figure aria-hidden="true" class="image image-connectivity_icon_headphone k501615"></figure>
                    </div>
                    <div class="column large-10 a4883A7">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue xD6019C channel-custom-font-custom-14-keyboard-callouts">Headphone jack</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item y39390A">
                  <div class="row iF8E6E0">
                    <!---->
                    <div class="column large-2 c4F8114">
                      <div>
                        <!---->
                      </div>
                      <figure aria-hidden="true" class="image image-connectvity_icon_hdmi g62D6F1"></figure>
                    </div>
                    <div class="column large-10 iE55F78">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue o74C4A3 channel-custom-font-custom-14-keyboard-callouts">HDMI</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item n2A12FF">
                  <div class="row h8802C9">
                    <!---->
                    <div class="column large-2 fD21BAD">
                      <div>
                        <!---->
                      </div>
                      <figure aria-hidden="true" class="image image-connectivity_icon_ethernet l876C5D"></figure>
                    </div>
                    <div class="column large-10 qFE321D">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue tEFAEEE channel-custom-font-custom-14-keyboard-callouts">Ethernet</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="column large-12 small-12 small-show rC9A60E">
              <div>
                <!---->
              </div>
              <div>
                <figure class="image image-connectivity_a double-invert oE4FBA1"></figure>
                 </div>
              <div>
                <figure class="image image-connectivity_b t2D6FB6"></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END 04 - CONNECTIVITY-->
      <!--BEGIN 05 - ACCESSORIES-->
      <div class="section g201DEE">
        <div class="section-content">
          <div class="row kC97D4E">
            <!---->
            <div class="column large-12 u3E4CA8">
              <div>
                <!---->
              </div>
              <h3 class="copy qC8C4FA channel-custom-font-custom-24-eyebrow">Accessories</h3>
              <div class="row q31D10B">
                <!---->
                <div class="column large-10 medium-12 small-12 lEE3425">
                  <div>
                    <!---->
                  </div>
                  <p class="copy m3DDAB8 channel-custom-font-custom-48-headline">Deck out your desk.</p>
                  <p class="copy helvetica-neue j43EFA9 channel-custom-font-custom-21-intro">Studio Display helps take Mac&nbsp;mini to the max with its 27‑inch 5K&nbsp;Retina display and 12MP camera with Center Stage. Add in wireless Magic accessories like Magic Keyboard with Touch&nbsp;ID to complete the package.</p>
                </div>
                <div class="column large-12 small-12 c2223C1">
                  <div>
                    <!---->
                  </div>
                </div>
              </div>
              <div>
                <figure class="image image-accessories double-invert a586A21"></figure>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!--END 05 - ACCESSORIES-->
      <!--BEGIN 06 FLEX - WHY MAC-->
      <div class="section xE4AE74">
        <div class="section-content">
          <div class="row large-display-bleed medium-display-bleed g4CEBA2">
            <!---->
            <div class="column large-12 y053B2C">
              <div>
                <!---->
              </div>
              <h2 class="copy f310C6F channel-custom-font-custom-21-eyebrow-reduced">Why Mac</h2>
              <p class="copy hA80E0B channel-custom-font-custom-40-headline-reduced">There’s more to love in every&nbsp;Mac.</p>
            </div>
            <div class="column large-4 small-12 k7A86F2">
              <div>
                <!---->
              </div>
              <figure aria-hidden="true" class="image image-why_icon_performance bC873EA"></figure>
              <h3 class="copy helvetica-neue j9D3833 channel-custom-font-custom-17-body-reduced-flex-subhead">Everything is powerful.</h3>
              <p class="copy helvetica-neue t24729F channel-custom-font-custom-17-body-reduced-flex">Apple&nbsp;silicon and macOS are engineered together to deliver incredible performance and phenomenal power efficiency.</p>
            </div>
            <div class="column large-4 small-12 mDAA083">
              <div>
                <!---->
              </div>
              <figure aria-hidden="true" class="image image-why_icon_connectivity qC49800"></figure>
              <h3 class="copy helvetica-neue q8058C2 channel-custom-font-custom-17-body-reduced-flex-subhead">Everything works together.</h3>
              <p class="copy helvetica-neue s5A091A channel-custom-font-custom-17-body-reduced-flex">When you combine Mac with other Apple devices, connectivity is seamless and effortless.</p>
            </div>
            <div class="column large-4 small-12 yA97910">
              <div>
                <!---->
              </div>
              <figure aria-hidden="true" class="image image-why_icon_icloud o97997E"></figure>
              <h3 class="copy helvetica-neue hDEC46D channel-custom-font-custom-17-body-reduced-flex-subhead">Everything is easy.</h3>
              <p class="copy helvetica-neue x40F15D channel-custom-font-custom-17-body-reduced-flex">Starting projects is simple. Sign in to your iCloud account to access your photos, videos, and music.</p>
            </div>
          </div>
        </div>
      </div>
      <!--END 06 FLEX - WHY MAC-->
      <!--BEGIN 07 FLEX - COMPARE-->
      <div class="section l6996B3">
        <div class="section-content">
          <div class="row large-display-bleed medium-display-bleed x2F0FB3">
            <!---->
            <div class="column large-12 e27BEAA">
              <div>
                <!---->
              </div>
              <h2 class="copy l85F4C3 channel-custom-font-custom-21-eyebrow-reduced">Compare</h2>
              <h3 class="copy z519EF2 channel-custom-font-custom-40-headline-reduced">Find the right Mac desktop for&nbsp;you.</h3>
            </div>
            <div class="dD8A7EE" style="--focus-color: rgba(0, 125, 250, 0.6);">
              <div data-export-class="channel-compare--hidden" data-channel-html-compare="{&quot;order&quot;:{&quot;small&quot;:[15,16,14],&quot;medium&quot;:[15,16,14],&quot;large&quot;:[15,16,14],&quot;max&quot;:{&quot;large&quot;:3,&quot;medium&quot;:3,&quot;small&quot;:2}},&quot;useStatic&quot;:true,&quot;selectorEls&quot;:&quot;[selector-dropdown]&quot;,&quot;labelEls&quot;:&quot;[compare-column-interactive]&quot;,&quot;swapEls&quot;:&quot;[data-column-group]&quot;,&quot;headerEl&quot;:&quot;[compare-header-row]&quot;,&quot;staticEl&quot;:&quot;[compare-column-header-static]&quot;}" class="channel-compare channel-compare--hidden">
                <div class="section section-compare-table">
                  <div class="compare-wrapper">
                    <div role="table" aria-label="Compare models" class="compare compare-table with-fullwidthrowheader compare-column-range-large-3 compare-column-range-medium-3 compare-column-range-small-2">
                      <div>
                        <div role="rowgroup">
                          <div role="row" compare-header-row="" class="compare-row visuallyhidden">
                            <div role="columnheader">&nbsp;</div>
                            <div role="columnheader">Mac mini (M2 or M2&nbsp;Pro)</div>
                            <div role="columnheader">Mac Studio (M1&nbsp;Max or M1&nbsp;Ultra)</div>
                            <div role="columnheader">iMac 24-in. (M1, four ports)</div>
                          </div>
                        </div>
                        <div role="rowgroup" class="compare selector-table with-fullwidthrowheader">
                          <div id="static-compare-header" role="row" data-column-group="" class="compare-row" compare-header-show>
                            <div role="rowheader" aria-rowspan="0" class="compare-rowheader" style="order: unset; visibility: hidden; display: none;">
                              <div class="visuallyhidden">Choose models to compare.</div>
                            </div>
                            <div id="hidden-columnheader" role="columnheader" class="visuallyhidden">&nbsp;</div>
                            <div role="columnheader" compare-column-header-static="" class="static-dropdown compare-column compare-static-14 first-child">
                              <div index="14">iMac&nbsp;24-in. <br />(M1, four&nbsp;ports)</div>
                            </div>
                            <div role="columnheader" compare-column-header-static="" class="static-dropdown compare-column compare-static-15">
                              <div index="15">Mac&nbsp;mini <br />(M2 or&nbsp;M2&nbsp;Pro)</div>
                            </div>
                            <div role="columnheader" compare-column-header-static="" class="static-dropdown compare-column compare-static-16">
                              <div index="16">Mac&nbsp;Studio <br />(M1&nbsp;Max or M1&nbsp;Ultra)</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--BEGIN > CATEGORY > PRODUCT-IMAGES-->
                      <div role="rowgroup" class="compare-section section-product-images no-padding-top">
                        <!--BEGIN > CATEGORY > PRODUCT-IMAGES > FEATURE > IMAGES-->
                        <div role="row" data-column-group="" class="compare-row compare-template-preview-item-default">
                          <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
                            <div class="visuallyhidden">Product Images</div>
                          </div>
                          <div role="cell" class="compare-column product-14 compare-column-2">
                            <div class="z1C6612 embed-image" index="14">
                              <figure role="img" aria-label="iMac 24-in. (M1, four ports)" class="compare-image image-compare_imac_24_m1_2020_TwoPort_blue"></figure>
                            </div>
                          </div>
                          <div role="cell" class="compare-column product-15 compare-column-0">
                            <div class="c4E1880 embed-image" index="15">
                              <figure role="img" aria-label="Mac mini (M2 or M2 Pro)" class="compare-image image-compare_mac_mini_m2_4port_silver_final"></figure>
                            </div>
                          </div>
                          <div role="cell" class="compare-column product-16 compare-column-1">
                            <div class="c7EA70B embed-image" index="16">
                              <figure role="img" aria-label="Mac Studio (M1 Max or M1 Ultra)" class="compare-image image-compare_mac_studio_silver_final"></figure>
                            </div>
                          </div>
                        </div>
                        <!--END > CATEGORY > PRODUCT-IMAGES > FEATURE > IMAGES-->
                      </div>
                      <!--END > CATEGORY > PRODUCT-IMAGES-->
                      <!--BEGIN > CATEGORY > FINISH-->
                      <div role="rowgroup" class="compare-section section-finish no-padding-top">
                        <!--BEGIN > CATEGORY > FINISH > FEATURE > COLOR-NAV-->
                        <div role="row" data-column-group="" class="compare-row compare-template-border-bottom compare-template-preview-item-color-nav">
                          <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
                            <div class="visuallyhidden">Finish</div>
                          </div>
                          <div role="cell" class="compare-column product-14 compare-column-2">
                            <div product-name="iMac 24-in. (M1, four ports)" class="row-colors" index="14">
                              <!---->
                              <div class="colornav">
                                <div role="list" aria-label="Available colors for iMac 24-in. (M1, four ports)" class="colornav-items">
                                  <div class="colornav-item-row">
                                    <div role="listitem" class="colornav-item">
                                      <figure role="img" aria-label="Blue" class="colornav-swatch" style="background-image: linear-gradient(90deg, rgb(38, 71, 109) 50%, rgb(168, 190, 210) 50%);"></figure>
                                    </div>
                                    <div role="listitem" class="colornav-item">
                                      <figure role="img" aria-label="Green" class="colornav-swatch" style="background-image: linear-gradient(90deg, rgb(16, 80, 91) 50%, rgb(163, 190, 180) 50%);"></figure>
                                    </div>
                                    <div role="listitem" class="colornav-item">
                                      <figure role="img" aria-label="Pink" class="colornav-swatch" style="background-image: linear-gradient(90deg, rgb(182, 44, 49) 50%, rgb(237, 185, 175) 50%);"></figure>
                                    </div>
                                    <div role="listitem" class="colornav-item">
                                      <figure role="img" aria-label="Silver" class="colornav-swatch" style="background-color: rgb(199, 200, 202);"></figure>
                                    </div>
                                  </div>
                                  <div class="colornav-item-row">
                                    <div role="listitem" class="colornav-item">
                                      <figure role="img" aria-label="Yellow" class="colornav-swatch" style="background-image: linear-gradient(90deg, rgb(224, 144, 26) 50%, rgb(233, 202, 149) 50%);"></figure>
                                    </div>
                                    <div role="listitem" class="colornav-item">
                                      <figure role="img" aria-label="Orange" class="colornav-swatch" style="background-image: linear-gradient(90deg, rgb(232, 103, 64) 50%, rgb(233, 170, 149) 50%);"></figure>
                                    </div>
                                    <div role="listitem" class="colornav-item">
                                      <figure role="img" aria-label="Purple" class="colornav-swatch" style="background-image: linear-gradient(90deg, rgb(53, 59, 113) 50%, rgb(172, 172, 203) 50%);"></figure>
                                    </div>
                                  </div>
                                  <!---->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div role="cell" class="compare-column product-15 compare-column-0">
                            <div product-name="Mac mini (M2 or M2 Pro)" class="row-colors" index="15">
                              <!---->
                              <div class="colornav">
                                <div role="list" aria-label="Available colors for Mac mini (M2 or M2 Pro)" class="colornav-items">
                                  <div class="colornav-item-row">
                                    <div role="listitem" class="colornav-item">
                                      <figure role="img" aria-label="Silver" class="colornav-swatch" style="background-color: rgb(199, 200, 202);"></figure>
                                    </div>
                                  </div>
                                  <!---->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div role="cell" class="compare-column product-16 compare-column-1">
                            <div product-name="Mac Studio (M1 Max or M1 Ultra)" class="row-colors" index="16">
                              <!---->
                              <div class="colornav">
                                <div role="list" aria-label="Available colors for Mac Studio (M1 Max or M1 Ultra)" class="colornav-items">
                                  <div class="colornav-item-row">
                                    <div role="listitem" class="colornav-item">
                                      <figure role="img" aria-label="Silver" class="colornav-swatch" style="background-color: rgb(199, 200, 202);"></figure>
                                    </div>
                                  </div>
                                  <!---->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--END > CATEGORY > FINISH > FEATURE > COLOR-NAV-->
                      </div>
                      <!--END > CATEGORY > FINISH-->
                      <!--BEGIN > CATEGORY > BUY-->
                      <div role="rowgroup" class="compare-section section-buy no-padding-top">
                        <!--BEGIN > CATEGORY > BUY > FEATURE > BUY-->
                        <div role="row" data-column-group="" class="compare-row compare-template-preview-item-button">
                          <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
                            <div class="visuallyhidden">Buy</div>
                          </div>
                          <div role="cell" class="compare-column product-14 compare-column-2">
                            <div class="button-container" index="14" product-name="iMac 24-in. (M1, four ports)"><a id="iMac 24-in. (M1, four ports)" href="/pages/mac" aria-label="Buy now, iMac 24-in. (M1, four ports)" class="button-1 compare-button">Buy now</a></div>
                          </div>
                          <div role="cell" class="compare-column product-15 compare-column-0">
                            <div class="button-container" index="15" product-name="Mac mini (M2 or M2 Pro)"><a id="Mac mini (M2 or M2 Pro)" href="/collections/mac-mini-m2" aria-label="Buy now, Mac mini (M2 or M2 Pro)" class="button-1 compare-button">Pre order</a></div>
                          </div>
                          <div role="cell" class="compare-column product-16 compare-column-1">
                            <div class="button-container" index="16" product-name="Mac Studio (M1 Max or M1 Ultra)"><a id="Mac Studio (M1 Max or M1 Ultra)" href="/pages/mac" aria-label="Buy now, Mac Studio (M1 Max or M1 Ultra)" class="button-1 compare-button">Buy now</a></div>
                          </div>
                        </div>
                        <!--END > CATEGORY > BUY > FEATURE > BUY-->
                      </div>
                      <!--END > CATEGORY > BUY-->
                      <!--BEGIN > CATEGORY > QUICK-LOOK-->
                      <div role="rowgroup" class="compare-section section-quick-look no-padding-top multi-row">
                        <!--BEGIN > CATEGORY > QUICK-LOOK > FEATURE > DISPLAY-->
                        <div role="row" data-column-group="" class="compare-row compare-template-preview-item-badge">
                          <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
                            <div class="visuallyhidden">Quick look</div>
                          </div>
                          <div role="cell" class="compare-column product-14 compare-column-2">
                            <figure role="presentation" class="badge-1" index="14">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-value">24<span aria-hidden="true">”</span><span class="visuallyhidden">"in."</span></span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">4.5K Retina display<sup aria-hidden="true">◊</sup><span class="visuallyhidden">Refer to legal disclaimers</span></span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-15 compare-column-0">
                            <figure role="presentation" class="badge-1 mdash-container copy" index="15">
                              <div class="badge-content"><span class="badge-caption"><p aria-hidden="true" class="mdash badge-caption">—</p><p class="visuallyhidden">Not Applicable</p></span></div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-16 compare-column-1">
                            <figure role="presentation" class="badge-1 mdash-container copy" index="16">
                              <div class="badge-content"><span class="badge-caption"><p aria-hidden="true" class="mdash badge-caption">—</p><p class="visuallyhidden">Not Applicable</p></span></div>
                            </figure>
                          </div>
                        </div>
                        <!--END > CATEGORY > QUICK-LOOK > FEATURE > DISPLAY-->
                        <!--BEGIN > CATEGORY > QUICK-LOOK > FEATURE > CHIP-->
                        <div role="row" data-column-group="" class="compare-row compare-template-preview-item-badge">
                          <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
                            <div class="visuallyhidden">Chip</div>
                          </div>
                          <div role="cell" class="compare-column product-14 compare-column-2">
                            <figure role="presentation" class="badge-1" index="14">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!---->
                                  <!---->
                                  <!---->
                                  <!---->
                                  <div><span aria-hidden="true" class="badge-caption copy">&nbsp;</span></div>
                                </div>
                                <div class="badge-row">
                                  <div aria-hidden="true" class="image-icon-wrapper tB07D61 embed-image">
                                    <figure class="compare-image image-icon_chip_m1"></figure>
                                  </div>
                                  <!---->
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Apple&nbsp;M1 chip</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-15 compare-column-0">
                            <figure role="presentation" class="badge-1" index="15">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!---->
                                  <!---->
                                  <!---->
                                  <!---->
                                  <div><span aria-hidden="true" class="badge-caption copy">&nbsp;</span></div>
                                </div>
                                <div class="badge-row">
                                  <div aria-hidden="true" class="image-icon-wrapper aE468D0 embed-image">
                                    <figure class="compare-image image-icon_chip_m2_m2_pro_final"></figure>
                                  </div>
                                  <!---->
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Apple&nbsp;M2&nbsp;chip or Apple&nbsp;M2&nbsp;Pro chip</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-16 compare-column-1">
                            <figure role="presentation" class="badge-1" index="16">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!---->
                                  <!---->
                                  <!---->
                                  <!---->
                                  <div><span aria-hidden="true" class="badge-caption copy">&nbsp;</span></div>
                                </div>
                                <div class="badge-row">
                                  <div aria-hidden="true" class="image-icon-wrapper tFDA6E2 embed-image">
                                    <figure class="compare-image image-icon_chip_m1_max_m1_ultra"></figure>
                                  </div>
                                  <!---->
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Apple M1 Max chip or<br />Apple M1 Ultra chip</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                        </div>
                        <!--END > CATEGORY > QUICK-LOOK > FEATURE > CHIP-->
                        <!--BEGIN > CATEGORY > QUICK-LOOK > FEATURE > CPU-->
                        <div role="row" data-column-group="" class="compare-row compare-template-preview-item-badge">
                          <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
                            <div class="visuallyhidden">CPU</div>
                          </div>
                          <div role="cell" class="compare-column product-14 compare-column-2">
                            <figure role="presentation" class="badge-1" index="14">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">&nbsp;</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">8-core</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">CPU</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-15 compare-column-0">
                            <figure role="presentation" class="badge-1" index="15">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Up to</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">12-core</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">CPU</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-16 compare-column-1">
                            <figure role="presentation" class="badge-1" index="16">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Up to</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">20-core</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">CPU</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                        </div>
                        <!--END > CATEGORY > QUICK-LOOK > FEATURE > CPU-->
                        <!--BEGIN > CATEGORY > QUICK-LOOK > FEATURE > GPU-->
                        <div role="row" data-column-group="" class="compare-row compare-template-preview-item-badge">
                          <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
                            <div class="visuallyhidden">GPU</div>
                          </div>
                          <div role="cell" class="compare-column product-14 compare-column-2">
                            <figure role="presentation" class="badge-1" index="14">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">&nbsp;</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">8-core</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">GPU</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-15 compare-column-0">
                            <figure role="presentation" class="badge-1" index="15">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Up to</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">19-core</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">GPU</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-16 compare-column-1">
                            <figure role="presentation" class="badge-1" index="16">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Up to</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">64-core</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">GPU</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                        </div>
                        <!--END > CATEGORY > QUICK-LOOK > FEATURE > GPU-->
                        <!--BEGIN > CATEGORY > QUICK-LOOK > FEATURE > MEMORY-->
                        <div role="row" data-column-group="" class="compare-row compare-template-preview-item-badge">
                          <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
                            <div class="visuallyhidden">Memory</div>
                          </div>
                          <div role="cell" class="compare-column product-14 compare-column-2">
                            <figure role="presentation" class="badge-1" index="14">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Up to</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">16GB</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">unified memory</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-15 compare-column-0">
                            <figure role="presentation" class="badge-1" index="15">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Up to</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">32GB</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">unified memory</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-16 compare-column-1">
                            <figure role="presentation" class="badge-1" index="16">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Up to</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">128GB</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">unified memory</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                        </div>
                        <!--END > CATEGORY > QUICK-LOOK > FEATURE > MEMORY-->
                        <!--BEGIN > CATEGORY > QUICK-LOOK > FEATURE > HD-CAPACITY-->
                        <div role="row" data-column-group="" class="compare-row compare-template-preview-item-badge">
                          <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
                            <div class="visuallyhidden">HD Capacity</div>
                          </div>
                          <div role="cell" class="compare-column product-14 compare-column-2">
                            <figure role="presentation" class="badge-1" index="14">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Up to</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">2TB</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">storage<sup aria-hidden="true">◊</sup><span class="visuallyhidden">Refer to legal disclaimers</span></span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-15 compare-column-0">
                            <figure role="presentation" class="badge-1" index="15">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Up to</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">8TB</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">storage<sup aria-hidden="true">◊</sup><span class="visuallyhidden">Refer to legal disclaimers</span></span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-16 compare-column-1">
                            <figure role="presentation" class="badge-1" index="16">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Up to</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-value">8TB</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">storage<sup aria-hidden="true">◊</sup><span class="visuallyhidden">Refer to legal disclaimers</span></span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                        </div>
                        <!--END > CATEGORY > QUICK-LOOK > FEATURE > HD-CAPACITY-->
                        <!--BEGIN > CATEGORY > QUICK-LOOK > FEATURE > CONNECTIVITY-->
                        <div role="row" data-column-group="" class="compare-row compare-template-preview-item-badge">
                          <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
                            <div class="visuallyhidden">Connectivity</div>
                          </div>
                          <div role="cell" class="compare-column product-14 compare-column-2">
                            <figure role="presentation" class="badge-1" index="14">
                              <div class="badge-content">
                                <div class="badge-row">
                                  <div aria-hidden="true" class="image-icon-wrapper k3D5AAA embed-image">
                                    <figure class="compare-image image-icon_keyboard_touch_id"></figure>
                                  </div>
                                  <!---->
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                                <div class="badge-row">
                                  <!----><span class="badge-caption copy">Magic&nbsp;Keyboard with Touch&nbsp;ID</span>
                                  <!---->
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-15 compare-column-0">
                            <figure role="presentation" class="badge-1 mdash-container copy" index="15">
                              <div class="badge-content"><span class="badge-caption"><p aria-hidden="true" class="mdash badge-caption">—</p><p class="visuallyhidden">Not Applicable</p></span></div>
                            </figure>
                          </div>
                          <div role="cell" class="compare-column product-16 compare-column-1">
                            <figure role="presentation" class="badge-1 mdash-container copy" index="16">
                              <div class="badge-content"><span class="badge-caption"><p aria-hidden="true" class="mdash badge-caption">—</p><p class="visuallyhidden">Not Applicable</p></span></div>
                            </figure>
                          </div>
                        </div>
                        <!--END > CATEGORY > QUICK-LOOK > FEATURE > CONNECTIVITY-->
                      </div>
                      <!--END > CATEGORY > QUICK-LOOK-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END 07 FLEX - COMPARE-->
      <!--BEGIN 08 FLEX - ACCESSORIES-->
      <div class="section j2D6B72">
        <div class="section-content">
          <div class="row large-display-bleed medium-display-bleed nC06081">
            <!---->
            <div class="column large-4 small-12 sF32EF7">
              <div>
                <!---->
              </div>
              <h2 class="copy b0B3265 channel-custom-font-custom-21-eyebrow-reduced">Accessories</h2>
              <p class="copy xAE2D36 channel-custom-font-custom-40-headline-reduced">Explore Mac accessories.</p>
              <p class="copy helvetica-neue vE8C037 channel-custom-font-custom-17-body-reduced">Explore keyboards, devices, and other essentials.</p>
              <div class="row j40FE91">
                <!---->
                <div class="column large-12 d1E2447">
                  <div>
                    <!---->
                  </div><a href="/collections/arp-accessories" class="link-wrapper" style="--focus-color: rgba(0, 125, 250, 0.6);"><span>Shop Apple accessories</span></a>
                </div>
              </div>
            </div>
            <div class="column large-8 small-12 rF469E0">
              <div>
                <!---->
              </div>
              <div>
                <figure class="image image-flex_accessories double-invert y964C5E"></figure>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!--END 08 FLEX - ACCESSORIES-->
      <!--BEGIN > LEGAL-->
      <div class="section sBBC1BA">
        <div class="section-content">
          <div class="row large-display-bleed medium-display-bleed n989636">
            <!---->
            <aside aria-labelledby="comp" role="complimentary" class="column large-12 medium-12 m1F4480">
              <div>
                <!---->
              </div>
              <div class="row z94F9AA">
                <!---->
                <div class="column large-12 c14C8D0">
                  <div>
                    <!---->
                  </div>
                  <h2 id="comp" class="copy helvetica-neue d99F28C channel-custom-font-custom-12-sosumi"><span id="footnote-diamond-1">◊</span> Legal Disclaimers</h2>
                </div>
              </div>
              <ul role="list" class="list q678FF6">
                <li role="listitem" class="list-item b467811">
                  <div class="row u6A8D71">
                    <!---->
                    <div class="column large-12 n089814">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue q8717F6 channel-custom-font-custom-12-sosumi"><span style="font-weight: 500;">Display:</span> Screen size is measured diagonally. The displays on the 13.6-inch MacBook Air and the 14-inch and 16-inch MacBook Pro have rounded corners at the top. When measured as a standard rectangular shape, the screens are 13.6 inches, 14.2 inches, and 16.2 inches diagonally (actual viewable area is less). iMac 24-inch actual diagonal screen measure is 23.5 inches.</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item x7A6C41">
                  <div class="row oFBF4A2">
                    <!---->
                    <div class="column large-12 eCD3B1E">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue uAC2411 channel-custom-font-custom-12-sosumi"><span style="font-weight: 500;">Storage:</span> 1GB = 1 billion bytes and 1TB = 1 trillion bytes; actual formatted capacity less.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </aside>
          </div>
        </div>
      </div>
      <!--END > LEGAL-->
    </div>


    <!--BEGIN > SCRIPTS:BASE -->
    <script type="text/javascript">"use strict";const reorderDOM={selectorEls:null,headerEl:null,capturedEls:null,capturedElsQuery:null,clonedEls:[],cOrder:null,cMax:null,useStatic:null,selectorElsQuery:null,staticEl:null,staticElQuery:null,addListeners(){window.addEventListener("channel:reorder-dom",e=>{if(this.useStatic=e.detail.useStatic,this.cOrder=e.detail.order,this.cMax=e.detail.max,this.updateElements(),void 0!==e.detail.selectorIndex){document.querySelectorAll(this.selectorElsQuery).item(e.detail.selectorIndex).focus()}})},updateElements(){!this.useStatic&&this.updateSelectors(),!this.useStatic&&this.updateHeadersAX(),!this.useStatic&&this.updateRows(),this.useStatic&&this.updateStatic()},arrayFromNodeList(e){const t=[];return e.forEach(e=>{t.push(e)}),t},updateStatic(){this.clonedEls.forEach((e,t)=>{const i=this.capturedEls[t],r=e.cloneNode(!0),n=r.querySelector("[role=rowheader]"),s=r.querySelector("[id=hidden-columnheader]");let o=[];this.cOrder.forEach((e,t)=>{const i=`[index="${e}"]`,n=r.querySelector(i).parentElement;o.push(n)}),o.reverse().forEach((e,t)=>{e.setAttribute("added",!0),r.prepend(e)});for(let e=0;e<r.children.length;e++){const t=r.children[e];"rowheader"!==t.getAttribute("role")&&"hidden-columnheader"!==t.getAttribute("id")&&(t.style.order="unset",this.toggleVisibility(t,e<this.cMax))}s&&r.prepend(s),r.prepend(n),r.setAttribute("added",!0),i.innerHTML=r.innerHTML})},updateHeadersAX(){let e='<div role="columnheader">&nbsp;</div>';document.querySelectorAll(this.selectorElsQuery).forEach((t,i)=>{const r=t.querySelector("[selected=true]").innerText.trim();"flex"===t.parentElement.parentElement.style.display&&(e+=`<div role="columnheader">${r}</div>`)}),this.headerEl.innerHTML=e},updateSelectors(){document.querySelectorAll(this.selectorElsQuery).forEach((e,t)=>{e.replaceWith(this.selectorEls[t])}),this.cOrder.forEach((e,t)=>{const i=this.selectorEls[t];let r=0;for(let t=0;t<i.options.length;t++){const n=i.options[t],s=Number(n.value)===e;s&&(r=t),n.removeAttribute("selected"),n.setAttribute("selected",s),n.removeAttribute("aria-selected"),n.setAttribute("aria-selected",s)}i.selectedIndex=r});for(var e=0;e<this.selectorEls.length;e++){const t=this.selectorEls[e],i=e<this.cMax;this.toggleVisibility(t.parentElement.parentElement,i)}},updateRows(){this.clonedEls.forEach((e,t)=>{const i=this.capturedEls[t],r=e.cloneNode(!0),n=r.querySelector("[role=rowheader]"),s=[];this.cOrder.forEach(e=>{const t=`[index="${e}"]`,i=r.querySelector(t).parentElement;s.push(i)}),s.reverse().forEach(e=>{r.prepend(e)});for(let e=0;e<r.children.length;e++){const t=r.children[e];"rowheader"!==t.getAttribute("role")&&(t.style.order="unset",this.toggleVisibility(t,e<this.cMax))}r.prepend(n),i.innerHTML=r.innerHTML})},toggleVisibility(e,t){e.style.visibility=t?"visible":"hidden",e.style.display=t?"flex":"none",e.style.order="unset"},init(e,t,i,r,n){this.useStatic=n,this.capturedEls=document.querySelectorAll(e),this.capturedElsQuery=e,this.headerEl=document.querySelector(i),this.selectorEls=document.querySelectorAll(t),this.selectorElsQuery=t,this.staticElQuery=r,this.staticEl=this.useStatic&&document.querySelector(this.staticElQuery).cloneNode(!0),this.useStatic=n,this.clonedEls=this.arrayFromNodeList(this.capturedEls),this.addListeners()}},viewportManager={nState:null,cState:null,init:function(){this.addListeners()},addListeners:function(){const e={small:window.matchMedia("(max-width: 734px)"),medium:window.matchMedia("(min-width: 735px) and (max-width: 1068px)"),large:window.matchMedia("(min-width: 1069px)")};Object.keys(e).forEach(t=>{const i=e[t];"function"!=typeof i.addEventListener?i.addListener(()=>{i.matches&&this.viewportObserve(t)}):i.addEventListener("change",()=>{i.matches&&this.viewportObserve(t)}),i.matches&&this.viewportObserve(t)})},viewportObserve:function(e){this.nState=e,this.cState!==this.nState&&(this.cState=this.nState,this.dispatch(this.cState))},dispatch:function(e){const t=new CustomEvent("channel:viewport-change",{detail:e});window.dispatchEvent(t)}},orientationManager={orienation:null,init:function(){window.matchMedia("(orientation: portrait)").addEventListener("change",e=>{e.matches?this.orienation="portrait":this.orienation="landscape",this.dispatch(this.orienation)})},dispatch:function(e){const t=new CustomEvent("channel:orientation-change",{detail:e});window.dispatchEvent(t)}},selectorManager={init:function(e,t){const i=document.querySelectorAll(e);i.forEach((e,t)=>{e.addEventListener("change",()=>{const r=e.selectedIndex,n=e.value,s=Number(e.options[r].getAttribute("value"));this.dispatch({elIndex:t,selectedIndex:s,value:n,selectorEls:i}),e.focus()})})},dispatch:function(e){const t=new CustomEvent("channel:pre-user-select",{detail:e});window.dispatchEvent(t)}},buyButtonManager={buyButtonQuery:null,init:function(e){this.buyButtonQuery=e,this.addListeners(),this.attachButtonListeners()},addListeners:function(){window.addEventListener("channel:reorder-dom",()=>{console.log,this.attachButtonListeners()})},attachButtonListeners:function(){document.querySelectorAll(this.buyButtonQuery).forEach(e=>{e.addEventListener("click",t=>{const i=0===t.screenX&&0===t.screenY?"Keyboard Interaction":"Mouse Click";this.dispatch({productName:e.id,eventSource:i})})})},dispatch:function(e){const t=new CustomEvent("channel:buy-button-click",{detail:e});window.dispatchEvent(t)}},dataManager={order:null,viewportKey:null,viewportOrder:null,viewportMax:null,init:function(e,t){this.order=e,this.useStatic=t,this.addListeners()},viewportChange(e){this.viewportKey=e,this.viewportOrder=this.order[this.viewportKey],this.viewportMax=this.order.max[this.viewportKey],this.dispatch({order:this.viewportOrder,max:this.viewportMax,useStatic:this.useStatic})},blurSelects(e){document.querySelectorAll(e).forEach(e=>{e.blur()})},flattenOrders(){this.viewportOrder=this.order[this.viewportKey],this.viewportMax=this.order.max[this.viewportKey],["small","medium","large"].forEach(e=>{this.order[e]=this.viewportOrder})},getLineupInfo(e,t){const i={};return e.forEach((e,r)=>{i[r]={columnIndex:r,deviceName:e.options[e.selectedIndex].text,hasChanged:r===t}}),i},userSelect(e){const{elIndex:t,selectedIndex:i}=e,r=this.viewportOrder[t],n=this.viewportOrder.find(e=>e===i),s=this.viewportOrder.indexOf(n);void 0!==n?(this.viewportOrder[s]=r,this.viewportOrder[t]=n):this.viewportOrder[t]=i,this.flattenOrders(),this.dispatch({order:this.viewportOrder,max:this.viewportMax,useStatic:this.useStatic,selectorIndex:t}),e.deviceLineup=this.getLineupInfo(e.selectorEls,t),delete e.selectorEls;const o=Object.keys(e.deviceLineup).slice(0,this.viewportMax).reduce((t,i)=>(t[i]=e.deviceLineup[i],t),{});this.dispatchPostUserSelect({deviceLineup:o})},addListeners:function(){window.addEventListener("channel:pre-user-select",e=>{this.userSelect(e.detail)}),window.addEventListener("channel:user-refresh",e=>{this.dispatch({order:this.viewportOrder,max:this.viewportMax,useStatic:this.useStatic})}),window.addEventListener("channel:viewport-change",e=>{this.viewportChange(e.detail),this.blurSelects(this.selectorElsQuery)}),window.addEventListener("change:orientation-change",()=>{this.blurSelects(this.selectorElsQuery)}),window.addEventListener("channel:buy-button-click",e=>{console.log(e.detail)})},dispatch:function(e){const t=new CustomEvent("channel:reorder-dom",{detail:e});window.dispatchEvent(t)},dispatchPostUserSelect:function(e){const t=new CustomEvent("channel:user-select",{detail:e});window.dispatchEvent(t)}},channelCompare={inited:!1,init:function(e=null){if(this.inited)return;let t;if(this.isDev=window.location.host.indexOf("127.0.0.1")>-1,e)t=e;else if(!e){const e=document.querySelector("[data-channel-html-compare]");if(!e)return void console.warn("channelCompare: element[data-channel-html-compare not found]");try{const i=e.getAttribute("data-channel-html-compare");t=JSON.parse(i)}catch(e){return void console.warn("channelCompare: error parsing JSON",e)}}const i=t.order,r=t.headerEl,n=t.selectorEls,s=t.swapEls,o=t.staticEl,a=t.useStatic;reorderDOM.init(s,n,r,o,a),!a&&selectorManager.init(n),buyButtonManager.init(".compare-button"),dataManager.init(i,a),viewportManager.init(),orientationManager.init(),this.inited=!0}};window.addEventListener("pageshow",e=>{const{persisted:t}=e;if(t)window.addEventListener("scroll",()=>{const e=new CustomEvent("channel:user-refresh");window.dispatchEvent(e)});else{channelCompare.init(),document.querySelector(".channel-compare").classList.remove("channel-compare--hidden")}});</script>
    <!--END > SCRIPTS:BASE -->
  </body>