<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Mac</title>

    <link rel="stylesheet" href="{{ 'mac_does_that.css' | asset_url }}">
  </head>
  <body>
    <section class="hdr">
      <div class="logo"><img class="maclogo" src="{{ 'apple_mac_logo.png' | asset_url }}" alt="Mac"></div>

      <header>
        <span>Work </span><span class="backlit ital">SMARTER</span><br>
        <span>Go </span><span class="backlit ital">FASTER</span><br>
        <span>Stress </span><span class="backlit ital">LESS</span>
      </header>

      <div class="hero"><img class="mac" src="{{ 'mac.png' | asset_url }}" alt="Mac"></div>

      <h2><span>Mac does</span> <span class="backlit">that</span></h2>
    </section>

    <div class="main_container" style="border:1px solid green___;  ">
      <section class="reason panel1 white">
        <div class="padder"></div>
        <div class="sectionwrap">
          <header>
            <span>Multitask</span><br>
            <span class="backlit ital">SUPERFAST</span><br>
            <span>with the M2 chip<span class="diamond">◊</span></span>
          </header>

          <p>The unified memory architecture of&nbsp;Apple silicon delivers fast,&nbsp;fluid&nbsp;multitasking.</p>
        </div>
        <!-- img class="imacs" src="imacs.png" alt="imacs" -->
        <div class="imgWrap">
          <img class="largecrop" src="{{ 'panel1_macbook.png' | asset_url }}" alt="Mac Screen">
          <img class="medcrop" src="{{ 'panel1_macbook_medcrop.png' | asset_url }}" alt="Mac Screen">
          <img class="smallcrop" src="{{ 'panel1_macbook_smallcrop.png' | asset_url }}" alt="Mac Screen">
        </div>
      </section>

      <section class="reason panel2 white">
        <div class="sectionwrap">
          <header>
            <span>The looooongest</span><br>
            <span class="backlit ital">BATTERY</span><span> ever</span><br>
            <span>in a Mac</span>
          </header>
          <p>
            With Mac you can go non-stop on&nbsp;a single charge.<span class="lshow"><br></span> Get up to 22&nbsp;hours
            on MacBook&nbsp;Pro&nbsp;16".<span class="diamond">◊</span>
          </p>
        </div>
        <!-- img class="imacs" src="imacs.png" alt="imacs" -->
        <div class="imgWrap">
          <img class="largecrop medcrop" src="{{ 'macbook_closed.png' | asset_url }}" alt="MacBook">
          <img class="smallcrop" src="{{ 'macbook_closed_smallcrop.png' | asset_url }}" alt="MacBook">
        </div>
      </section>

      <section class="reason panel3 white">
        <div class="sectionwrap">
          <header>
            <span class="backlit ital excel_ttl">EXCEL</span><span class="smshow"><br></span>
            <span>
              runs<span class="mlshow"><br></span> and runs<span class="smshow"><br></span> and
              <span class="mlshow"><br></span> runs on Mac
            </span>
          </header>

          <p>
            Mac runs the apps you need<span class="smshow"><br></span> like Microsoft 365<span class="lshow"><br></span>
            and Outlook, Google Workspace and more.<span class="diamond">◊</span>
          </p>
        </div>
        <!-- img class="imacs" src="imacs.png" alt="imacs" -->
        <div class="imgWrap">
          <img class="smallcrop largecrop" src="{{ 'panel3crop_excel.png' | asset_url }}" alt="Mac Screen">
          <img class="medcrop" src="{{ 'panel3medcrop_excel.png' | asset_url }}" alt="Mac Screen">
        </div>
        <div class="padder"></div>
      </section>

      <section class="reason panel4 white">
        <div class="imgWrap">
          <img class="largecrop" src="{{ 'macplusiphone.png' | asset_url }}" alt="Mac + iPhone">
          <img class="medcrop" src="{{ 'macplusiphone_medcrop.png' | asset_url }}" alt="Mac + iPhone">
          <img class="smallcrop" src="{{ 'macplusiphone_smallcrop.png' | asset_url }}" alt="Mac + iPhone">
        </div>
        <div class="sectionwrap">
          <header>
            <span>Mac + iPhone </span><br>
            <span class="backlit ital">BETTER<BR>TOGETHER</span><span></span><br>
          </header>

          <p>
            Copy and paste, sync edits and continue conversations between Mac&nbsp;and&nbsp; iPhone.<span class="diamond"
              >◊</span
            >
          </p>
        </div>
        <!-- img class="imacs" src="imacs.png" alt="imacs" -->
      </section>

      <section class="reason panel5 white">
        <div class="sectionwrap">
          <header>
            <span>The</span> <span class="backlit ital">EASIEST</span><br>
            <span>computer</span><br>
            <span>to manage</span>
          </header>

          <p>
            With faster setup and fewer support<span class="lshow"><br></span> tickets, the IT value adds up.<span class="diamond"
              >◊</span
            >
          </p>
        </div>
        <!-- img class="imacs" src="imacs.png" alt="imacs" -->
        <div class="imgWrap">
          <img class="smallcrop largecrop" src="{{ 'macbooks_open.png' | asset_url }}" alt="Macs">
          <img class="medcrop" src="{{ 'macbooks_open_medcrop.png' | asset_url }}" alt="Macs">
        </div>
      </section>

      <section class="reason panel6 white">
        <div class="imgWrap">
          <img class="smallcrop largecrop" src="{{ 'macbooktop.png' | asset_url }}" alt="MacBook Pro">
          <img class="medcrop" src="{{ 'macbooktop_medcrop.png' | asset_url }}" alt="MacBook Pro">
        </div>
        <div class="sectionwrap">
          <header>
            <span>Super </span><span class="backlit ital">SECURE</span><br>
            <span>out of the box</span><br>
          </header>

          <p>
            With Mac, features like<span class="smshow"><br></span> <span class="nowrap">on-the-fly</span> encryption,
            Touch&nbsp;ID and Gatekeeper are built in &mdash; and it's compatible with the security tools you already
            use.
          </p>
        </div>
        <div class="padder"></div>
        <!-- img class="imacs" src="imacs.png" alt="imacs" -->
      </section>

      <section class="reason whichmacwrap white">
        <header>
          Which Mac is right<span class="lshow"><br></span> for your business?
        </header>

        <section class="whichmac">
          <section class="buynow  ">
            <div class="sectionwrap">
              <!-- h3>Reason no.11</h3 -->

              <img class="hero" src="{{ 'macbookairm1.png' | asset_url }}" alt="MacBook Air (M1)">
              <span class="whichmac_ttl">MacBook Air (M1)</span>
              <span class="whichmac_sub"
                >Power.<br>
                It’s in the Air.</span
              ><br>
              <!-- img class="wm" src="wm-macbookairm1.png" alt="MacBook Air (M1)" -->
              <ul>
                <li>13.3-inch Retina display<span class="diamond">◊</span></li>
                <li>Powered by the Apple M1 chip</li>
                <li>Up to 18 hours of battery life<span class="diamond">◊</span></li>
                <li>Up to 16GB unified memory</li>
              </ul>
              <a href="/collections/macbook-air-m1-chip" class="bButton">Buy Now<span class="gt">&gt;</span></a>
            </div>
          </section>

          <section class="buynow  ">
            <div class="sectionwrap">
              <!-- h3>Reason no.11</h3 -->
              <img class="hero" src="{{ 'macbookairm2.png' | asset_url }}" alt="MacBook Air (M2)">
              <span class="whichmac_ttl">MacBook Air (M2)</span>
              <span class="whichmac_sub"
                >Don’t take<br>
                it lightly.</span
              ><br>
              <!-- img class="wm" src="wm-macbookairm2.png" alt="MacBook Air (M2)" -->
              <ul>
                <li>13.6-inch Liquid Retina display<span class="diamond">◊</span></li>
                <li>Powered by the Apple M2 chip</li>
                <li>Up to 18 hours of battery life<span class="diamond">◊</span></li>
                <li>Up to 24GB unified memory</li>
              </ul>
              <a href="/collections/macbook-air-m2-chip" class="bButton">Buy Now<span class="gt">&gt;</span></a>
            </div>
          </section>

          <section class="buynow  ">
            <div class="sectionwrap">
              <!-- h3>Reason no.11</h3 -->
              <img class="hero" src="{{ 'macbookpro13.png' | asset_url }}" alt="MacBook Pro 13 inch">
              <span class="whichmac_ttl">MacBook Pro 13”</span>
              <span class="whichmac_sub"
                >Pro<br>
                anywhere.</span
              ><br>
              <!-- img class="wm" src="wm-macbookpro13.png" alt="MacBook Pro 13 inch" -->
              <ul>
                <li>13.3-inch Retina display<span class="diamond">◊</span></li>
                <li>Powered by the Apple M2 chip</li>
                <li>Up to 20 hours of battery life<span class="diamond">◊</span></li>
                <li>Up to 24GB unified memory</li>
              </ul>
              <a href="/collections/macbook-m2" class="bButton">Buy Now<span class="gt">&gt;</span></a>
            </div>
          </section>

          <section class="buynow  ">
            <div class="sectionwrap">
              <!-- h3>Reason no.11</h3 -->
              <img
                class="hero macbookpros"
                src="{{ 'macbookpro1416.png' | asset_url }}"
                alt="MacBook Pro 14 inch and 16 inch"
              >
              <span class="whichmac_ttl nowrap macbookpros">MacBook Pro 14” and 16”</span>
              <span class="whichmac_sub"
                >Supercharged<span class="lshow"><br></span><span class="smshow"><br></span> for pros.</span
              ><br>
              <!--
                img class="wm wmmacbookpros" src="wm-macbookpro1416.png" alt="MacBook Pro 14 inch and 16 inch">
                <img class="wmstacked" src="wm-macbookpro1416stacked.png" alt="MacBook Pro 14 inch and 16 inch"
              -->
              <ul>
                <li>14.2-inch or 16.2-inch Liquid Retina XDR&nbsp;display<span class="diamond">◊</span></li>
                <li>
                  Powered by the Apple M2 Pro chip<br>
                  or Apple M2 Max chip
                </li>
                <li>Up to 22 hours battery life<span class="diamond">◊</span></li>
                <li>Up to 96GB unified memory</li>
              </ul>
              <a href="/collections/macbook-pro-m2-pro" class="bButton">Buy Now<span class="gt">&gt;</span></a>
            </div>
          </section>

          <section class="buynow  ">
            <div class="sectionwrap">
              <!-- h3>Reason no.11</h3 -->
              <img class="hero imac" src="{{ 'imac24.png' | asset_url }}" alt="iMac 24 inch">
              <span class="whichmac_ttl">iMac 24”</span>
              <span class="whichmac_sub"
                >All‑in‑one.<br>
                All in colour.</span
              ><br>
              <!-- img class="wm" src="wm-imac24.png" alt="iMac 24 inch" -->
              <ul class="superoffset">
                <li>24-inch 4.5K Retina display<span class="diamond">◊</span></li>
                <li>Powered by the Apple M1 chip</li>
                <li>Up to 16GB unified memory</li>
              </ul>
              <a href="/collections/imac-m1-chip" class="bButton">Buy Now<span class="gt">&gt;</span></a>
            </div>
          </section>

          <section class="buynow  ">
            <div class="sectionwrap">
              <!-- h3>Reason no.11</h3 -->
              <img class="hero macmini" src="{{ 'macmini.png' | asset_url }}" alt="Mac mini">
              <span class="whichmac_ttl">Mac mini</span>
              <span class="whichmac_sub"
                >Huge performance.<br>
                Mini footprint.</span
              ><br>
              <!-- img class="wm" src="wm-macmini.png" alt="Mac mini" -->
              <ul>
                <li>
                  Powered by the Apple M2 chip<br>
                  or Apple M2 Pro chip
                </li>

                <li>Up to 32GB unified memory<span class="diamond">◊</span></li>
              </ul>
              <a href="/collections/mac-mini-m2" class="bButton">Buy Now<span class="gt">&gt;</span></a>
            </div>
          </section>
        </section>
      </section>

      {% comment %}
        <section class="reason whichmacwrap whichmacresourceswrap white">

        <header>Resources</header>


        <section class="whichmac resources">

        	<section class="buynow  ">
        		<div class="sectionwrap">
        			<!--h3>Reason no.11</h3-->
        			<img class="hero" src="{{ 'resources1.png' | asset_url }}" alt="AppleCare Professional Suppor">
        			<span class="whichmac_ttl">AppleCare<br>Professional Support</span><br>
        			<a href="#" class="bButton">Learn more<span class="gt">&gt;</span></a>
        		</div>

        	</section>

        	<section class="buynow  ">
        		<div class="sectionwrap">
        			<!--h3>Reason no.11</h3-->
        			<img class="hero" src="{{ 'resources2.png' | asset_url }}" alt="Deployment and Management Guide">
        			<span class="whichmac_ttl">Deployment and Management Guide</span><br>
        			<a href="https://cdn.shopify.com/s/files/1/0571/8340/4192/files/aaw-deployment-and-management-q2-2021.pdf?v=1677576009" class="bButton">Learn more <span class="pdf">[PDF]</span></a>
        		</div>

        	</section>

        	<section class="buynow  ">
        		<div class="sectionwrap">
        			<!--h3>Reason no.11</h3-->
        			<img class="hero" src="{{ 'resources3.png' | asset_url }}" alt="Apple Financial Services">
        			<span class="whichmac_ttl">Apple Financial<span class="lshow"><br></span> Services</span><br>
        			<a href="#" class="bButton">Learn more<span class="gt">&gt;</span></a>
        		</div>

        	</section>

        	<section class="buynow  ">
        		<div class="sectionwrap">
        			<!--h3>Reason no.11</h3-->
        			<img class="hero" src="{{ 'resources4.png' | asset_url }}" alt="Employee Choice Guide for IT">
        			<span class="whichmac_ttl">Employee Choice<br> Guide for IT</span><br>
        			<a href="https://cdn.shopify.com/s/files/1/0571/8340/4192/files/Employee_Choice_Guide_for_IT.pdf?v=1677576010" class="bButton">Learn more <span class="pdf">[PDF]</span></a>
        		</div>

        	</section>

        	<section class="buynow  ">
        		<div class="sectionwrap">
        			<!--h3>Reason no.11</h3-->
        			<img class="hero" src="{{ 'resources5.png' | asset_url }}" alt="Platform Security Guide">
        			<span class="whichmac_ttl">Platform<br> Security Guide</span><br>
        		<a href="https://cdn.shopify.com/s/files/1/0571/8340/4192/files/aaw-platform-security-q2-2021.pdf?v=1677576009" class="bButton">Learn more <span class="pdf">[PDF]</span></a>
        		</div>

        	</section>

        	<section class="buynow  ">
        		<div class="sectionwrap">
        			<!--h3>Reason no.11</h3-->
        			<img class="hero" src="{{ 'resources6.png' | asset_url }}" alt="A Smart Investment">
        			<span class="whichmac_ttl">A Smart <br>Investment</span><br>
        		<a href="https://cdn.shopify.com/s/files/1/0571/8340/4192/files/aaw-productivity.pdf?v=1677576009" class="bButton">Learn more <span class="pdf">[PDF]</span></a>
        		</div>

        	</section>

        </section>


        <header class="getstarted">Let's get started</header>

        	<div>
        		<h2><span>Talk to an expert to learn more<span class="lshow"><br></span> about Mac for work.</span></h2>
        		<a href="#" class="aButton">Get in Touch</a>
        	</div>


        </section>
      {% endcomment %}
    </div>

    <section class="legal  ">
      <div class="sectionwrap">
        <div>
          <!-- h3>Reason no.11</h3 -->
          <p>◊ Legal Disclaimers</p>
          <p><span class="hdr">M2 chip:</span> M2 chip available in selected models.</p>
          <p>
            <span class="hdr">Power and Battery:</span> Testing conducted by Apple in November and December 2022 using
            pre‑production 16‑inch MacBook Pro systems with Apple M2 Pro, 12‑core CPU, 19‑core GPU, 16GB of RAM and 1TB
            SSD. The wireless web test measures battery life by wirelessly browsing 25 popular websites with display
            brightness set to 8 clicks from bottom. The Apple TV app movie playback test measures battery life by
            playing back HD 1080p content with display brightness set to 8 clicks from bottom. Battery life varies by
            use and configuration. See <span class="legallink">apple.com/za/batteries</span> for more information.
          </p>
          <p>
            Testing conducted by Apple in October 2020 using pre-production MacBook Air systems with Apple M1 chip and
            8-core GPU, configured with 8GB of RAM and 512GB SSD. The Apple TV app movie playback test measures battery
            life by playing back HD 1080p content with display brightness set to 8 clicks from bottom. Battery life
            varies by use and configuration. See <span class="legallink">apple.com/za/batteries</span> for more
            information.
          </p>
          <p>
            Testing conducted by Apple in May 2022 using pre-production 13‑inch MacBook Pro systems with Apple M2,
            8‑core CPU, 8‑core GPU, 8GB of RAM and 256GB SSD. The wireless web test measures battery life by wirelessly
            browsing 25 popular websites with display brightness set to 8 clicks from bottom. The Apple TV app movie
            playback test measures battery life by playing back HD 1080p content with display brightness set to 8 clicks
            from bottom. Battery life varies by use and configuration. See
            <span class="legallink">apple.com/za/batteries</span> for more information.
          </p>
          <p>
            <span class="hdr">App Store:</span> Apps are available on the App Store. Title availability is subject to
            change. Subscription required for Microsoft 365.
          </p>
          <p><span class="hdr">Mac and iPhone:</span> Requires iCloud and internet connection.</p>
          <p>
            <span class="hdr">Value:</span> Based on data from companies interviewed in Forrester Total Economic Impact™
            of Mac in Enterprise: M1 Update, commissioned by Apple, published July 2021 (<span class="legallink"
              >https://tools.totaleconomicimpact.com/go/apple/tei/</span
            >). Companies should use their own estimates within the framework provided in the Forrester study to
            understand their own cost and time savings.
          </p>
          <p>
            <span class="hdr">Display:</span> Screen size is measured diagonally. Actual diagonal screen size of the
            24-inch iMac is 23.5 inches. The displays on the 13.6-inch MacBook Air and the 14-inch and 16-inch MacBook
            Pro have rounded corners at the top. When measured as a standard rectangular shape, the screens are 13.6
            inches, 14.2 inches and 16.2 inches diagonally (actual viewable area is less).
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
